

nav {
    display: flex;
    box-sizing: border-box;
    height: 56px;
    padding: 0px 16px;
    align-items: center;
    justify-content: center;
}

/* .inputField {
    width: 50%;
    margin-top: 10px;
} */

/* nav ul {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
} */

/* nav ul li {
    padding: 12px;
    display: block;
} */

/* .navBtn:hover {
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 40px;
    background-color: rgb(235, 224, 224);
} */

/* .inputField input {
    border-radius: 16px;
    border: 0.5px solid black;
    background-color: rgb(235, 224, 224);
    width: 250px;
    height: 25px;
    background-image: url(https://www.freeiconspng.com/thumbs/location-icon-png/orange-location-icon-png-18.png);
    background-size: 20px;
    background-repeat: no-repeat;
    outline: 0;
    background-position: 230px;
} */


/* .navBtn {
    text-decoration: none;
    border-radius: 16px;
    border: transparent 1px solid;
    font-size: 18px;
    margin-left: 24px;
    padding: 5px 3px;
    font-family: "Open sans";
} */