html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.findRestaurant {
    margin-bottom: 50px;
    margin: 0px;
    padding: 0px 0px;
    width: 100%;
    height: 670px;
    box-sizing: border-box;
}

.leftSide {
    height: 100%;
    width: 60%;
    background-color: #f5f3f1;
}

h1 {
    font-size: 40px;
    color: #242e30;
}

h2 {
    font-size: 30px;
    color: #242e30;
}

.rightSide {
    height: 100%;
    width: 40%;
    background-color: #ff8000;
    z-index: 1;
}

.rightSide svg {
    top: 66px;
    left: 690px;
    height: 745px;
    width: 24vw;
    background-color: #ff8000;
    display: block;
    transform: skew(-9deg) scale(0.9);
    position: absolute;
}

.search {
    margin-left: 50px;
    margin-top: 200px;
    display: block;
    height: 400px;
    width: 400px;
}

.search input {
    border-radius: 40px;
    border: 0.5px solid black;
    background-color: white;
    width: 400px;
    height: 50px;
    background-image: url(https://www.freeiconspng.com/thumbs/location-icon-png/orange-location-icon-png-18.png);
    background-size: 40px;
    background-repeat: no-repeat;
    outline: 0;
    background-position: 350px;
    font-size: 23px;
}

.image {
    margin-left: 50px;
    margin-top: 200px;
    display: block;
    position: absolute;
    height: 450px;
    width: 450px;
    z-index: 2;
    top: 65%;
    left: 65%;
    transform: translate(-65%, -65%);
}

.image img {
    height: 254px;
    width: 540px;
}


/* ------------------------------------------------------------------------ */

.basicInfo div {
    width: 100%;
}

.basicInfo div h3{
    text-align: center;
}

.basicInfo div h2{
    text-align: center;
    color: #ff8000;
    font-size: 40px;
}