html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.findRestaurant {
    margin-bottom: 50px;
    margin: 0px;
    padding: 0px 0px;
    width: 100%;
    height: 670px;
    box-sizing: border-box;
}

.leftSide {
    height: 100%;
    width: 60%;
    background-color: #f5f3f1;
}

h1 {
    font-size: 40px;
    color: #242e30;
}

h2 {
    font-size: 30px;
    color: #242e30;
}

.rightSide {
    height: 100%;
    width: 40%;
    background-color: #ff8000;
    z-index: 1;
}

.rightSide svg {
    top: 66px;
    left: 690px;
    height: 745px;
    width: 24vw;
    background-color: #ff8000;
    display: block;
    transform: skew(-9deg) scale(0.9);
    position: absolute;
}

.search {
    margin-left: 50px;
    margin-top: 200px;
    display: block;
    height: 400px;
    width: 400px;
}

.search input {
    border-radius: 40px;
    border: 0.5px solid black;
    background-color: white;
    width: 400px;
    height: 50px;
    background-image: url(https://www.freeiconspng.com/thumbs/location-icon-png/orange-location-icon-png-18.png);
    background-size: 40px;
    background-repeat: no-repeat;
    outline: 0;
    background-position: 350px;
    font-size: 23px;
}

.image {
    margin-left: 50px;
    margin-top: 200px;
    display: block;
    position: absolute;
    height: 450px;
    width: 450px;
    z-index: 2;
    top: 140px;
    left: 600px;
    /* transform: translate(-65%, -60%); */
}

.image img {
    height: 254px;
    width: 540px;
}

/* ------------------------------------------------------------------------ */

.basicInfo {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.how-to-order {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 120px;
}

.basicInfo .how-to-order .choise {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    padding-bottom: 40px;
}


.basicInfo div {
    width: 100%;
}

.basicInfo div h3 {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 0;
    color: #242e30;
}

.basicInfo .how-to-order .choise h3 {
    margin-top: 15px;
    padding-top: 0;
}

.basicInfo .how-to-order .choise p {
    color: #242e30;
}

.basicInfo div h2 {
    margin-top: 0;
    text-align: center;
    color: #f36805;
    font-size: 50px;
    font-weight: 900;
}


/* -------------------------------------------------------------------------- */

.links-to-apps {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #c1dade;
}

.links-to-apps .left-side {
    height: 100%;
    width: 65%;
    text-align: center;
}
.links-to-apps .left-side h2 {
    font-size: 50px;
    padding-top: 60px;
    margin-bottom: 0;
    margin-left: 5px auto;
    color: #242e30;
    font-weight: bolder;
}
.links-to-apps .left-side h3 {
    font-size: 28px;
    margin-right: 80px;
    color: #242e30;
    margin-top: 15px;
    font-weight: 200;
}

.links-to-apps .left-side img {
    height: 50px;
    width: 160px;
    margin-right: 16px;
    margin-top: 20px;
}

.links-to-apps .right-side {
    height: 100%;
    width: 35%;
}

.links-to-apps .right-side img {
    width: 320px;
    height: 480px;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
}
